<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express node</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque optio voluptatem, rerum nesciunt amet vero
        aperiam, a nemo, dolorum atque voluptas. Iure necessitatibus enim mollitia et ratione nam at veritatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe esse ea adipisci possimus quia, autem minima
        perspiciatis consequatur praesentium doloribus, modi repellat vero exercitationem iusto maxime suscipit
        blanditiis cumque sapiente error asperiores voluptate itaque labore at illum. Ipsa, asperiores quidem libero a
        accusamus fugiat reiciendis consequuntur dolor quibusdam quaerat doloribus optio corrupti recusandae sequi.</p>
</body>

</html>